<footer class="mt-4 bg-dark text-light">
   <div class="container p-4">
      <div class="row">
        <div class="col-md-4">
           <h5 class="border-bottom">
               Trụ sở chính
           </h5>
           <p>71 Cộng Hòa, Phường 4, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</p>
           <p>Điện thoại : 19006079</p>

        </div>
        <div class="col-md-4">
           <h5 class="border-bottom">
               Chính sách và quy định chung
           </h5>
            <p>
               <a>Điều khoản và dịch vụ</a>
            </p>
           <p>
               <a>
                   Chính sách bảo mật
               </a>
           </p>
        </div>
        <div class="col-md-4">
           <div class="fb-page" data-href="https://www.facebook.com/cfl.hcmus" data-tabs="" data-width="300" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/cfl.hcmus" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/cfl.hcmus">Trung tâm Ngoại ngữ - Đại học Khoa học Tự nhiên TP.HCM</a></blockquote></div>
      </div>
   </div>
   <div class="container pt-4">
       <p class="text-center">Coppyright@ Trung tâm tin học ngoại ngữ </p>
   </div>
</footer>
