<header>
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-4">
        <img src="/images/logo.png" alt="">
      </div>
      <div class="col-md-4">
        <p><i class="fas fa-phone-alt"></i> 0941546589</p>
      </div>
      <div class="col-md-4">
        <p><i class="fas fa-envelope"></i> thanhyen476@gmail.com</p>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg  sticky-top box-shadown">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto text-uppercase">
        <li class="nav-item active">
          <a class="nav-link" href="/">Trang chủ
            <span class="sr-only">(current)</span></a>
        </li>
        {{!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Lịch khai giảng
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#each subject}}
              <a class="dropdown-item" href="#">{{this.name}}</a>
              <div class="dropdown-divider"></div>
            {{/each}}
          </div>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" href="/subjects">Khóa học</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payinstruction">Hướng dẫn thanh toán</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">Tin tức</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Liên hệ</a>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-me mx-auto">Tư vấn</button>
  </div>
</nav>