<div class="banner">
  <div class="container">
    <div class="col-md-6">
      <h4 class="text-light py-4">
        Chào Mừng Các Bạn Đến Với Các Khóa Học Của Trung Tâm Tin Học Ngoại Ngữ
      </h4>
      <button class="btn btn-me">Chi tiết về chúng tôi</button>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
<div class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Hướng dẫn thanh
        toán</li>
    </ol>
  </nav>
</div>
<div class="container mt-4">
  <h1 class="subheading">HƯỚNG DẪN THANH TOÁN HỌC PHÍ</h1>
  <h6 class="card-subtitle mb-2 mt-4 text-muted">Trung tâm tin học ngoại ngữ có
    2 hình thức thanh toán như sau :
  </h6>
  <div class="card-body">
    <h5>Phương thức 1 : Chuyển khoản </h5>
    <p>Bạn có thể đến bất cứ ngân hàng nào ở Việt Nam (hoặc sử dụng Internet
      Banking ) để chuyển học phí theo thông tin như sau :
    </p>
    <table>
      <tr>
        <td>
          <img src="/images/viettinbank.png" alt="ngân hàng viettinbank" />
        </td>
        <td>
          <p>- Ngân hàng TMCP Công Thương Việt Nam - chi nhánh TP HCM</p>
          <p>- Tên tài khoản : Trung tâm tin học ngoại ngữ</p>
          <p>- Số tài khoản :1130 0000 4466
          </p>
        </td>
      </tr>
    </table>
    <p><strong><i>Lưu ý </i></strong></p>
    <p>Bạn phải viết chính xác 100% tên tài khoản và số tài khoản để đảm bảo học
      phí được chuyển đến đúng nơi</p>
    <ul>
      <li>Trong khi chuyển khoản trong phần nội dung , bạn phải điền đầy đủ
        thông tin :
        <strong>Họ và tên học viên </strong>(có thể khác với họ tên người chuyển
        khoản )
        <strong>Số điện thoại liên hệ-Mã lớp
        </strong>>vào phiếu chuyển tiền
      </li>
      <li>Do có rất nhiều giao dịch chuyển khoản nên bạn nhớ giữ lại thông tin
        chuyển khoản và gửi về mail tuvan@abc.edu.vn để bộ phận ghi danh chúng
        tôi tiện đối chiếu và xuất biên lai cho bạn
      </li>
      <li>Trung tâm luôn kiểm tra giao dịch chuyển khoản mỗi ngày từ thứ 2 tới
        thứ 6 và sẽ liên hệ ngay với bạn khi nhận được thông tin chuyển khoản
        của bạn(trễ nhất là 3 ngày)
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5>Phương thức 2 : Thanh toán tiền mặt </h5>
    <h6>1.Địa chỉ</h6>
    <ul>
      <li>71 Cộng Hòa, Phường 4, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</li></ul>
    <h6>2.Thời gian làm việc </h6>
    <ul>
      <li>Từ thứ 2 đến thứ 6 : 7h30-19h30</li>
      <li>Từ thứ 7, chủ nhật : 7h30-17h30</li>
    </ul>
  </div>
</div>